@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-image: linear-gradient(79deg, #00a3d4, #76dcf2 48%, #c2ecf2);
  padding: 15px 9%;
  padding-bottom: 100px;
  min-height: 100vh;
}

.navbar.nav-1 .flex {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar.nav-1 {
  background-color: #333;
}

.navbar .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .flex .logo {
  font-size: 1.1rem;
  color: #fff;
}

.navbar .flex .logo i {
  color: #fff;
  margin-right: 1rem;
  margin-left: 20px;
}

.navbar .flex .logo:hover {
  color: #e6e6e6;
}

.navbar .flex .searchbar input {
  background-color: white;
  border: 0;
  border-radius: 6px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.navbar .flex .searchbar .fa-magnifying-glass {
  margin-left: 10px;
  color: #fff;
  font-size: 20px;
}

.navbar .flex ul {
  list-style: none;
}

.navbar .flex ul li {
  float: left;
  position: relative;
}

.navbar .flex ul li a {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  color: #fff;
  background-color: #333;
}

.navbar .flex ul li a:hover {
  background-color: linear-gradient(79deg, #00a3d4, #76dcf2 48%, #c2ecf2);
  color: #e6e6e6;
}

.navbar .flex ul li a i {
  margin-left: 1rem;
}

.navbar .flex ul li ul {
  /*position: absolute;*/
  width: 17rem;
  left: 0;
}

/*.navbar .flex ul li ul li {
  width: 100%;
}*/

.navbar .flex ul li ul li a {
  display: none;
}

.navbar .flex ul li:hover ul li a {
  display: block;
}

.search-bar-container {
  /*position: absolute;*/
  /*top: 100%;*/
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}
.search-bar-container #search-bar {
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.search-bar-container label {
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 1.5rem;
}

.container .box-container {
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}

.container .box-container .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 30px 20px;
}

.container .box-container .box h3 {
  color: #444;
  font-size: 22px;
  padding: 10px 0;
}

.container .box-container .box p {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
}

.container .box-container .box .btn {
  margin-top: 10px;
  display: inline-block;
  background: #333;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}

.container .box-container .box .btn:hover {
  animation-name: sirenje;
  animation-duration: 0.1s;
}

@keyframes sirenje {
  0% {
    letter-spacing: 0px;
  }
  100% {
    letter-spacing: 1px;
  }
}

.container .box-container .box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 930px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}

/*Search dropdown style*/
.dropdown {
  margin-top: 6rem;
  position: absolute;
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.dropdown:empty {
  border: none;
  box-shadow: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
  padding: 5px;
  padding-left: 15px;
}

