.post-name-container {
  /*position: absolute;*/
  /*top: 100%;*/
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: #333;
  width: 30%;
  margin-left: 35%;
  border-radius: 1rem;
}

h3 {
  color: #333;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.post-name-container #post-name {
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1rem;
  border-radius: 0.5rem;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

#post-date,
#post-name {
  width: 90%;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

.post-name-container #post-info {
  height: 10rem;
  width: 96%;
  margin-bottom: 0.5rem;
}

@media (max-width: 930px) {
  .post-name-container {
    width: 100%;
    margin-left: 0;
  }
}

/*alert style*/

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 60px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: grey;
}